<section>
  <div id="content">

    <p></p>

    <p>
      <table class="loadfile">
        <tr>
          <td class="save">Select a file already stored:</td>
          <td>Or write your own code:</td>
        </tr>
        <tr>
          <td>
            <nav>
              <ul>
                <% programs.each do |p| %>
                  <li><a href="<%= p.name %>" <%=current?('/'+p.name)%>><%= p.name %></a></li>
                <% end %>
              </ul>
            </nav>  
            <p>
                Or load an existing file:
            </p>
            <input type="file" id="examples" />
          </td>
          <td>
            <form action="/save" method="post">
              <textarea id="input" name="input" autofocus rows = "7">
<%= source %>
              </textarea>
              <br/>
              <label for="saveas">Save the code as:</label>
              <input id="saveas" type="text" name="fname" title="name" pattern="\w+" />
            </form>
          </td>
        </tr>
        <tr>
          <td><button class="mylink" id="parse" type="button">parse</button></td>
          <td></td>
        </tr>
      </table>
    </p>

    <div class="hidden" id="out">
      <pre>
<span id="output"></span> <!-- Output goes here! --> 
      </pre>
    </div>
  </div>
</section>