	<link rel="stylesheet" href="../css/mocha.css" />
	<div id="mocha"></div>

	<script src="tests/chai.js"></script>
	<script src="tests/mocha.js"></script>
		
	<script>mocha.setup('tdd')</script>
	<script src="tests/tests.js"></script>
		
	<script>
		mocha.run();
	</script>